<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>FWI Prediction</h1>
    <form action="{{url_for('predict_datapoint')}}" method="post">
        <input type="text" name="Weight">
        <!-- <input type="text" name="RH">
        <input type="text" name="Ws">
        <input type="text" name="Rain">
        <input type="text" name="FFMC">
        <input type="text" name="DMC">
        <input type="text" name="ISI">
        <input type="text" name="Classes">
        <input type="text" name="Region"> -->
        <button type="submit">Predict </button>
    </form>
    <h1>
        {{result}}
    </h1>
</body>

</html>